<!DOCTYPE html>
<html>
<head>
  <% include ./templete/head.ejs %>
    <script>
      function listpost(page, perPage) {
        document.location = '/process/listpost?page=' + page + '&perPage=' + perPage;
      }
    </script>
</head>

<body>
  <% include ./templete/header.ejs %>

    <div class="container">
      <br><br><br><br>

      <div class="ui raised segment">
        <a class="ui blue ribbon label">게시판</a>
        <span id="board_title"><%=title %></span>


        <div class="ui blue fluid card">
          <div class="content">

            <div class="ui grid">
              <div class="two wide column">번호</div>
              <div class="six wide column center aligned">제목</div>
              <div class="three wide column">작성자</div>
              <div class="two wide column">작성일</div>
              <div class="two wide column">조회수</div>
            </div>

            <div class="ui very relaxed selection celled list">
              <%  
              var noStart = (pageCount - page) * perPage;
							
							  for (var i = 0; i < posts.length; i++) {
								  var curTitle = posts[i]._doc.title;
								  var curContents = posts[i]._doc.contents;
								  var curWriter = posts[i]._doc.writer.email;
                  var curHits = posts[i]._doc.hits; 
                  var createTemp = new Date(posts[i]._doc.created_at); 
                  var createDate = createTemp.getMonth()+1 + "-" + createTemp.getDate() + "-" + createTemp.getFullYear(); 
                  var curNo = noStart - i;
						  %>
                <div class="item">
                  <div class="ui grid">
                    <div class="two wide column ui header">
                      <%=curNo %>
                    </div>
                    <div class="six wide column ui header center aligned" onclick="javascript:window.location='/process/showpost/<%=posts[i]._id %>'">
                      <%=curTitle %>
                    </div>
<!--
                    <div class="six wide column ui header">
                      <%=curWriter %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%=createDate %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <%=curHits %>
                    </div>
-->
                    <div class="three wide column ui header">
                      <%=curWriter %>
                    </div>
                    <div class="two wide column ui header">
                      <%=createDate %>
                    </div>
                    <div class="two wide column ui header center aligned">
                      <%=curHits %>
                    </div>
                  </div>
                </div>
                <%} %>

            </div>

            <br>
            <div class="tiny ui basic buttons">
              <%
					 			if (page > 0) {
					 		%>
                <div class="ui icon button" onclick="listpost(0, <%=perPage %>)">
                  <i class="backward icon"></i>
                </div>
                <div class="ui icon button" onclick="listpost(<%=(page-1) %>, <%=perPage %>)">
                  <i class="left chevron icon"></i>
                </div>
                <%
					 			} else {
					 		%>
                  <div class="ui disabled icon button">
                    <i class="backward icon"></i>
                  </div>
                  <div class="ui disabled icon button">
                    <i class="left chevron icon"></i>
                  </div>
                  <%
					 			}
					 		%>
                    <% 
					 			var initial = Math.floor(page / 10) * 10;
					 			console.log('initial : ' + initial);
					 			
					 			var max = pageCount - initial;
					 			if (max > 10) {
					 				max = initial + 10;
					 			} else {
					 				max = initial + max;
					 			}
					 			console.log('max : ' + max);
					 			
					 			for (var i = initial; i < max; i++) {
					 				if (i != page) {
					 		%>
                      <div class="ui button" onclick="listpost(<%=i %>, <%=perPage %>)">
                        <%= i %>
                      </div>
                      <%
					 				} else {
					 		%>
                        <div class="ui active basic button">
                          <%= i %>
                        </div>
                        <% 
					 				}
					 			}
					 		%>
                          <%
					 			if ((page+1) < pageCount) {
					 		%>
                            <div class="ui icon button" onclick="listpost(<%=(page+1) %>, <%=perPage %>)">
                              <i class="right chevron icon"></i>
                            </div>
                            <div class="ui icon button" onclick="listpost(<%=(pageCount-1) %>, <%=perPage %>)">
                              <i class="forward icon"></i>
                            </div>
                            <%
					 			} else {
					 		%>
                              <div class="ui disabled icon button">
                                <i class="right chevron icon"></i>
                              </div>
                              <div class="ui disabled icon button">
                                <i class="forward icon"></i>
                              </div>
                              <%
					 			}
					 		%>
            </div>

            <br><br>
            <a class="ui button" href='/process/listpost?page=0&perPage=2'>재요청</a>
            <a class="ui button" href='/addpost'>글쓰기</a>
          </div>
        </div>
      </div>
    </div>

</body>

</html>