<!DOCTYPE html>
<html>

<head>
  <% include ./templete/head.ejs %>

    <script>
      $(document).ready(function() {
        var output = $("#contentsOutput").text();
        console.log('output : ' + output);

        $("#contentsOutput").html(output);

      });

    </script>
    <!--
	    <script>
		    function removeHTML(text) {
                text = text.replace(/<br\/>/ig, "\n");
                text = text.replace(/<(\/)?([a-zA-Z]*)(\s[a-zA-Z]*=[^>]*)?(\/)?>/ig, "");
                return text;
            }
        </script>  
-->

</head>

<body>

  <% include ./templete/header.ejs %>

    <div class="container">
      <br><br><br><br>

      <div class="ui raised segment">
        <a class="ui blue ribbon label">게시판</a>
        <span id="board_title"><%=title %></span>


        <div class="ui blue fluid card">
          <div class="content">
            <% 
						   var curTitle = posts._doc.title;
						   var curContents = posts._doc.contents;
						   var curWriter = posts._doc.writer.email; 
                           var curId = posts._doc._id; 
						  
						   // html-entities module is required in post.js
						   var entities = new Entities();
						   
						   var decodedContents = (entities.decode(curContents)).replace(/<(\/)?([a-zA-Z]*)(\s[a-zA-Z]*=[^>]*)?(\/)?>/ig,"");
               //var decodedContents = removeHTML(entities.decode(curContents));
            %>

              <div id="titleOutput" class="header">
                <%=curTitle %>
              </div>
              <div class="meta">
                <span class="right floated time">1일전</span>
                <span class="category">일반</span>
              </div>
              <div id="contentsOutput" class="description">
                <%=decodedContents %>
              </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <img class="ui avatar image" src="/public/author.png">
              <%=curWriter %>
            </div>
          </div>

        </div>


        <div class="ui very relaxed selection celled list">
          <%  
                        for (var i = 0; i < posts._doc.comments.length; i++) {
                           var curCommentContents = posts._doc.comments[i].contents;
                           var curCommentWriter = posts._doc.comments[i].writer;
                           %>
            <div class="item">
              <div class="ui grid">
                <div class="sixteen wide column">
                  <div class="ui header">
                    <h4 class="ui left aligned header">
                      <%=curCommentContents %>
                    </h4>
                    <h5 class="ui right aligned orange header">
                      <%=curCommentWriter %>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <% } %>

        </div>

        <div>
          <form class="content ui form" method="post" action="/process/addcomment">
            <div class="field">
              <label>댓글</label>
              <input type="text" name="contents" placeholder="댓글내용 입력">
            </div>

            <div class="two fields">
              <div class="field">
                <label>작성자</label>
                <input type="text" name="writer" placeholder="댓글작성자 입력">
              </div>
              <div class="field"></div>
            </div>

            <input hidden type="text" name="id" value="<%=curId %>">

            <input class="ui submit button" type="submit" value="댓글 추가" name="" />
          </form>
        </div>

        <br><br><a class="ui button" href='/process/listpost?page=0&perPage=10'>글 목록</a>

      </div>

    </div>

</body>

</html>
